body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background: linear-gradient( to right, #4c00ff 0%, #6400b6 51%, #7700ff 100% );
    transition: 0.5s;
  color: aqua;
}

Button:hover {
  background: linear-gradient( to right, #ffffff 0%, #58565a 51%, #908a97 100% );
    transition: 0.5s;
}


